In [2]:
for num in range(0, 20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
for num in range(10, 20):
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [10]:
list2 = [10, 20, 14, 55, 43, 87, 76]
print("Number of item  in the list2: \n", len(list2))

Number of item  in the list2:
 7

In [11]:
input_string = "Artificial Intelligence"
print(input_string)
for string in input_string:
    print(string)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [12]:
name = input()
age = input()
Profession = input()

 Amrish Babu R
 29
 Private employee

In [13]:
tup = (1, "Welcome", 2, "Hope")
print(tup)

(1, 'Welcome', 2, 'Hope')

In [14]:
Tuple1 = (0,1,2,3)
Tuple2 = ("python", "HOPE")
new_tuple = (Tuple1, Tuple2)
print(new_tuple)

((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
list1 = [20,10,16,19,25,1,276,188]
print(tuple(list1))
for num in list1:
    if (num % 2) == 1:
        print(f"{num} is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [16]:
list1 = [20,10,16,19,25,1,276,188]
print(tuple(list1))
for num in list1:
    if (num % 2) == 0:
        print(f"{num} is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even