In [1]:
print("HOPE AI")

HOPE AI

In [2]:
institute_name = input("Enter the institute name: ")

Enter the institute name:  HOPE AI

In [3]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school_name = input("Enter your school name: ")
degree_name = input("Enter your degree: ")

Enter your name:  Amrish Babu R
Enter your age:  29
Enter your school name:  Little Flower Convent Matric. Hr.Sec School
Enter your degree:  B.E/ECE

In [4]:
a, b = 43, 34
print("a= ", a, "\nb= ", b)
print("add= ", a+b)

a=  43
b=  34
add=  77

In [5]:
a, b = 43, 34
print("a= ", a, "\nb= ", b)
print("Sub= ", a-b)

a=  43
b=  34
Sub=  9

In [6]:
a, b = 63, 97
print("a= ", a, "\nb= ", b)
print("Mul = ", a*b)

a=  63
b=  97
Mul =  6111

In [8]:
a, b = 76, 31
print("a= ", a, "\nb=", b)
print("Float Div = ", a / b)

a=  76
b= 31
Float Div =  2.4516129032258065

In [10]:
a, b = 76, 31
print("a= ", a, "\nb=", b)
print("Floor Div = ", a // b)

a=  76
b= 31
Floor Div =  2

In [11]:
a, b = 76, 31
print("a= ", a, "\nb= ",b)
print("Modulo = ", a % b)

a=  76
b=  31
Modulo =  14

In [12]:
a, b = 4, 4
print("a= ", a, "\nb= ",b)
print("Power = ", a ** b)

a=  4
b=  4
Power =  256