In [5]:
num1 = 10
num2 = 30
sum_of_2nums = num1 + num2

In [6]:
num1 = 10
num2 = 30
sum_of_2nums = num1 + num2
print("sum_of_2nums")
print(sum_of_2nums)

sum_of_2nums
40

In [7]:
Num1 = 5
Num2 = 100
Add = Num1 + Num2
Sub = Num2 - Num1

In [8]:
print("Variable name shouldn't have a space in there names")
first name = "Amrish Babu R"

SyntaxError: invalid syntax (191688995.py, line 2)

In [10]:
print("Valid variable names should be as below samples. Variable name should not start with numbers as well.")
first_name = "Amrish Babu R"
firstName = "Amrish Babu R"
FirstName = "Amrish Babu R"

Valid variable names should be as below samples. Variable name should not start with numbers as well.

In [11]:
print("The addition of two numbers")
num1 = 10
num2 = 20
print("The number1:", num1)
print("The number2:", num2)
add = num1+num2
print("The Addition of two numbers:", add)

The addition of two numbers
The number1: 10
The number2: 20
The Addition of two numbers: 30